# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
classes/
*intellij.xml*

# gradle
build
.gradle

# other
eclipse
run

# Node
rest/ranks/
rest/users/
rest/package-lock.json
rest/node_modules